# ===== FOTOKASH — Configuration =====

# Serveur
PORT=3001
NODE_ENV=development

# Base de données PostgreSQL
DATABASE_URL=postgresql://fotokash_user:motdepasse@localhost:5432/fotokash_db

# JWT (générer une clé secrète longue et aléatoire)
JWT_SECRET=votre_cle_secrete_ultra_longue_ici_minimum_64_caracteres
JWT_EXPIRES_IN=7d

# Cloudinary (stockage photos)
CLOUDINARY_CLOUD_NAME=drowparzh
CLOUDINARY_API_KEY=361996598912983
CLOUDINARY_API_SECRET=I24gNQU9AUJo5UtBhtgNpqnoilk

# Service IA Python (reconnaissance faciale)
FACE_AI_SERVICE_URL=http://localhost:5000

# Mobile Money APIs
ORANGE_MONEY_API_KEY=votre_cle_orange
ORANGE_MONEY_API_URL=https://api.orange.com/orange-money-webpay/dev/v1
MTN_MOMO_API_KEY=votre_cle_mtn
MTN_MOMO_API_URL=https://sandbox.momodeveloper.mtn.com
WAVE_API_KEY=votre_cle_wave
WAVE_API_URL=https://api.wave.com/v1

# Redis (pour Bull job queue)
REDIS_URL=redis://localhost:6379

# URL du front-end (CORS)
FRONTEND_URL=http://localhost:3000
